

.cellImg {
    width: .4rem;
    height: .4rem;
    float: right;
}

.cellContent {
    float: right;
    width: .2rem;
    text-align: center;
    line-height: .4rem;
    font-size: .28rem;
    color: #222;
    margin: 0 .3rem;
}



